/* Estilo para as setas de navegação */
.swiper-button-prev,
.swiper-button-next {

}

.swiper-button-prev {

}

.swiper-button-next {

}

/* Estilo para os dots (paginação) */
.swiper-pagination {

  }
  
  .swiper-pagination-bullet {

    background-color: #ccc; /* Cor dos dots */
    margin: 0 8px; /* Define o espaçamento entre os dots */
  }
  
  .swiper-pagination-bullet-active {
    background-color: #ffffff; /* Cor dos dots ativos */
  }

 