/* Reset CSS Básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 100%; /* Define o tamanho base da fonte */
  font-family: sans-serif; /* Define uma família de fontes padrão */
  line-height: 1.6; /* Define o espaçamento entre linhas */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, select, textarea {
  font: inherit; /* Garantir que inputs e botões herdem a fonte do body */
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none; /* Remove as bolinhas e números de listas */
}

table {
  border-collapse: collapse; /* Remove o espaçamento entre células */
}

body {
  background-color: #131212;
  -webkit-font-smoothing: antialiased; /* Suaviza a fonte em alguns navegadores */
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

hr {
  border: 0;
  border-top: 1px solid #ccc; /* Estilo básico para linha horizontal */
  margin: 20px 0;
}
